<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: #ff4652; color: white; position: relative; min-height: 100vh;">
    <div
      class="jumbotron jumbotron-fluid"
      style="background-color: #1b2a35; color: white"
    >
      <div class="container">
        <h1>modernapp | canary</h1>
        <p>Get started here!</p>
      </div>
    </div>
    <div class="container" style="padding-bottom: 2.5rem;">
      <h2>Step 1:</h2>
      <p>
        Start by setting a name for your application center!
      </p>
      <form class="form" action="/new?">
        <input style="display: block; margin: 4.5px;" type="text" class="form-control" id="title" placeholder="Enter a name here!" name="title"/>
        <br/>
        <br/>
        <h2>Step 2:</h2>
        <p>
          How many applications do you want?
        </p>
        <input type="radio" class="radio-inline" name="apps" value="1"> 1 | 
        <input type="radio" class="radio-inline" name="apps" value="2"> 2 |
        <input type="radio" class="radio-inline" name="apps" value="3"> 3 |
        <input type="radio" class="radio-inline" name="apps" value="4"> 4 |
        <input type="radio" class="radio-inline" name="apps" value="5"> 5
        <br/>
        <br/>
        <br/>
        <h2>Step 3:</h2>
        <p>
          What kind of application center do you want?
        </p>
        <input type="radio" class="radio-inline" name="type" value="1"> Discord Integration 
        <!--  <input type="radio" class="radio-inline" name="type" value="2"> | Trello Integration -->
        <br/>
        <br/>
        <button type="name" class="btn" style="background-color: #1b2a35; color: white;">Get Started!</button>
      </form>
    </div>
    <div class="footer" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem; text-align: center;">
      <br/>
      <br/>
      <p>Copyright modernapp 2020 | To have a url removed from our database, please email modernapp@short.ga</p>
    </div>
  </body>
</html>
